{
    "env": { "browser": true, "commonjs": true, "es2021": true, "mocha": true },
    "extends": ["airbnb-base", "prettier"],
    "parserOptions": { "ecmaVersion": "latest" },
    "rules": {
      "import/no-dynamic-require": "off",
      "no-tabs": "off",
      "new-cap": "off",
      "max-len": "off",
      "no-underscore-dangle":"off"
    }
  }